.cardBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 0.5px solid grey;
}

.cardArt {
    min-height: 22vh;
}

.cardInfo {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.cardLike {
    width: 4rem;
    display: flex;
    justify-content: space-around;
}

.likeBtn,
.likeCount {
    vertical-align: middle;
    display: inline-block;
}

.likeCount {
    margin-top: 14px;
}

.likeBtn:hover {
    cursor: pointer;
    color: crimson;
}