.container {
    position: relative;
    padding: 0 4rem;
    margin-left: auto;
    margin-right: auto;
}

.createBody {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.canvas {
    resize: none;
}

.formContainer {
    width: 50%;
}

.form {
    display: flex;
    flex-direction: column;
}

.formElement {
    margin-top: 0.6rem;
}

@media (min-width: 768px) {
    .container {
        padding: 0rem;
        width: 700px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}